@model List<string>

<h1 class="text-danger mb-4">Errors:</h1>
<div class="alert alert-danger" role="alert">
    <ul class="mb-0">
        @foreach (var errorMessage in Model)
        {
            <li>@errorMessage</li>
        }
    </ul>
</div>