@model List<Department>

@{
    ViewBag.Title = "Departments";
}

<h1 class="mb-4">Departments:</h1>
<ul class="list-group">
    @foreach (var department in Model)
    {
        <li class="list-group-item">
            <a href='/departments/details/@department.Id'>@department.Name (@department.Description)</a>
        </li>
    }
</ul>
<br />
<a href='/departments/create' class="btn btn-primary">Add Department</a>
